{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% extends "base.html" %}

{% block pageTitle %}{%- if form.errors %}Error: {% endif -%}Work history{% endblock %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Your work history</h1>
    <form action="" method="post" novalidate>

    {% set jobHtml %}
    <h2 class="govuk-label--m">Tell us about your previous jobs</h2>
    <p class="govuk-hint">Your previous work is helpful to know about, even if you do a different type of work now.</p>

      {{ form.csrf_token }}

      {{ form.job_title(params={
        'spellcheck': false,
        'autocomplete': 'Job title',
        'classes': "govuk-input--width-10"
      }) }}

      {{ form.job_title_2(params={
        'spellcheck': false,
        'autocomplete': 'Job title 2',
        'classes': "govuk-input--width-10"
      }) }}

      {{ form.job_title_3(params={
        'spellcheck': false,
        'autocomplete': 'Job title 3',
        'classes': "govuk-input--width-10"
      }) }}

      {{ form.job_title_4(params={
        'spellcheck': false,
        'autocomplete': 'Job title 4',
        'classes': "govuk-input--width-10"
      }) }}

      {{ form.job_title_5(params={
        'spellcheck': false,
        'autocomplete': 'Job title 5',
        'classes': "govuk-input--width-10"
      }) }}


    {% endset -%}

      {{ form.radio(params={
        'fieldset': {
          'legend': {
            'text': "Have you worked previously?",
            'isPageHeading': true,
            'classes': "govuk-fieldset__legend--m"
          }
        },
        'items': [
          {
            'conditional': {
              'html': jobHtml
            }
          }
        ]
      }) }}

      {{ form.submit }}


    </form>
  </div>
</div>
{% endblock %}
