{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}

{% extends "base.html" %}

{% block pageTitle %}{%- if form.errors %}Error: {% endif -%}Preferred job{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBackLink({
    'text': "Back",
    'href': url_for('main.index')
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="" method="post" novalidate>
    <h1 class="govuk-heading-l" id="heading">Your preferred jobs</h1>
    <p class="govuk-body" id="body">We want to know if there are specific jobs or types of work you're interested in, even if you think you do not have the necessary skills and experience right now.</p>

        {% set always = sample_text[:3] %}
        {% set optional = sample_text[3:] %}

    {% set jobHtml %}
      {{ form.csrf_token }}

      {{ form.pref_job(params={
          'classes': 'govuk-input--width-5',
          'inputmode': 'numeric',
          'pattern': '[0-9]*',
          'spellcheck': false
        }) }}

    {% endset -%}

    {{ form.radio(params={
        'fieldset': {
          'legend': {
            'text': "Do you know what you'd like to do now or in the near future?",
            'isPageHeading': true,
            'classes': "govuk-fieldset__legend--m",
          }
        },
        'items': [
          {
            'conditional': {
              'html': jobHtml
            }
          }
        ]
      }) }}

    {{ form.submit }}

    </form>
  </div>
</div>
{% endblock %}
