{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}

{% extends "base.html" %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    'text': "Back",
    'href': url_for('main.summary')
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Your recommended jobs</h1>
    <h2 class="govuk-heading-m">Based on your previous work history</h2>

    {% set row_values = [] %}
    {% for row in rows %}
      {% set next_row =
    {
          'key': {
            'text': row.job
          },
          'value': {
            'html': row.desc[:100] + '<span class="govuk-body text" id=txt%s>'|format(loop.index|string) + row.desc[100:] + '</span><span class="govuk-body dots" id="dots%s">'|format(loop.index|string) +'...</span><span class="govuk-link" id="more%s"> &ltshow more> </span>'|format(loop.index|string)
          },
          'actions': {
            'items': [
              {
                'href': row.link,
                'text': 'Job '+ loop.index|string,
                'visuallyHiddenText': row.job
              }
            ]
          }
        }
    %}
    {{ row_values.append(next_row) or "" }}
    {% endfor %}

    {{ govukSummaryList({
      'rows': row_values
    }) }}

    <h2 class="govuk-heading-m">Based on your preferred jobs</h2>

    {% set pref_row_values = [] %}
    {% for row in pref_rows %}
      {% set next_row =
    {
          'key': {
            'text': row.job
          },
          'value': {
            'html': row.desc[:100] + '<span class="govuk-body text" id="pref_txt%s">'|format(loop.index|string) + row.desc[100:] + '</span><span class="govuk-body dots" id="pref_dots%s">'|format(loop.index|string) +'...</span> <span class="govuk-link" id="pref_more%s">'|format(loop.index|string) +' &ltshow more> </span>'
          },
          'actions': {
            'items': [
              {
                'href': row.link,
                'text': 'Job '+ loop.index|string,
                'visuallyHiddenText': row.job+" link"
              }
            ]
          }
        }
    %}
    {{ pref_row_values.append(next_row) or "" }}
    {% endfor %}

    {{ govukSummaryList({
      'rows': pref_row_values
    }) }}

    {{ govukButton({
      'text': "Save and continue"
    }) }}

  </div>
</div>
{% endblock %}
